
/* Desktop View */

body{
    margin:0;
    font-family: fantasy;
    color:white;
    background-color: rgb(223, 219, 219);
   
}
.container{
    margin:auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    min-height:500px;
}

.col{
   
    
    width: 30%;
    margin-top: 40px; 
    background-color: rgb(113, 153, 110);
   
    
}

img{
    width:100%;
width:100%;
}

.col p{
    margin:0;
    padding: 15px 20px; 
    line-height: 1.25rem;
}

.col p::first-line{
    font-weight: bold;
}

.header {
    width:100%;
    background-color: rgb(54, 73, 56);
    height:60px;
    position:fixed;
    

}

header{
    max-width: 800px;
    height:100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(196, 235, 206);
    padding: 2px 10px;
    color: rgb(25, 90, 34);
}
.highlight{
    font-weight: bold;
    font-size: 26px;
    color: rgb(233, 229, 229);
}

/* Tablet view */
@media (max-width:768px) {

    .container{
        color: darkorange;
    }

    .col{
        width:45%;
    }

}

/* Mobile view */
@media (max-width:543px) {

    .container{
        color: rgb(214, 151, 216);
    }

    .col{
        width:100%;
    }
    header{
        display:flex;
        flex-direction: column;
       
    }
    .header{
        height: auto;
        padding: 10px;
    }

    .navBar{
        display:flex;
        flex-direction:column;
    }

    .container{
        padding-top: 120px;
    }

}



